<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Booking System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    
      
</head>
<body>
    <div class="container">
        <header class="my-4">
            <h1 class="text-center">Bus Booking System</h1>
        </header>

        <!-- Search Form -->
        <section>
            <div class="container mt-5 d-flex justify-content-center">
                <form class="search-form d-flex align-items-center shadow-lg">
                  <div class="row w-100 text-white">
                    <div class="col-md-3 d-flex align-items-center">
                      <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-bus-front"></i></span>
                        <input type="text" class="form-control" placeholder="From" value="Source">
                      </div>
                    </div>
                    <div class="col-md-1 text-center d-flex align-items-center justify-content-center">
                      <i class="bi bi-arrow-left-right fs-3"></i>
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                      <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-bus-front"></i></span>
                        <input type="text" class="form-control" placeholder="To" value="Destination">
                      </div>
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                      <div class="input-group">
                        <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                        <input type="text" class="form-control" placeholder="Date" value="yyyy-mm-dd">
                      </div>
                    </div>
                    <div class="col-md-2 text-center">
                      <button (click)="searching()" type="submit" class="btn btn-light text-danger w-100">SEARCH BUSES</button>
                    </div>
                  </div>
                </form>
              </div>
        </section>

       

        